.btn{
  font-size: 25px;
  color: #FFF;
  text-decoration: none;
  background: linear-gradient(103deg, #EC1D97, #e00082);
  background-color: rgb(224, 0, 130);
  background-position: 0 0;
  background-repeat: no-repeat;
  border: solid 2px #e00083;
  padding: 17px 30px 19px;
  border-radius: 6px;
  transition: background-position .25s ease, box-shadow .25s ease;
}

.projectcovers{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-cover-image{
  max-width: 300px;
  border-radius: 4px;
  margin: 20px;
  box-shadow: 2px 2px 6px #202124;
  background-color: #1E1D21;
  background-repeat: no-repeat;
  background-size: auto;
}

.about-image{
  max-width: 500px;
  border-radius: 4px;
  box-shadow: 2px 2px 6px #202124;
  background-color: #1E1D21;
  background-repeat: no-repeat;
  background-size: auto;
}

.mainInfo{
  color: #1E1D21;
}

.contact-kate{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.contact-links{
  text-decoration: none;
  color: #1E1D21;
}
