.container {
  margin: auto;
  max-width: 500px;
  font-family: sans-serif;
}
.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 0;
}
.heading {
  color: #EC1D97
  /* color: rebeccapurple; */
  /* background-image: linear-gradient(90deg,var(--theme-ui-colors-purple-60,#663399),var(--theme-ui-colors-magenta-50,#bc027f),var(--theme-ui-colors-orange-70,#f67300));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: black;
}
